header {
  position: sticky;
  width: 100%;
}

.navigation {
  position: sticky;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.nav-top {
  display: flex;
  width: 85%;
}

.nav-top-ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.nav-top-li {
  border: 1px solid black;
  padding: 10px 60px;
}

.nav-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 100px;
  align-items: center;
}

.search {
  border: 1px solid black;
}

.sns-area {
  border: 1px solid black;
}

.nav-bottom {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  margin-top: 10px;
}

.nav-bottom-ul {
  display: flex;
  width: 85%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.nav-bottom-li {
  font-size: 22px;
}

.nav-bottom-drop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #31312e;
  border-style: none;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

.nav-drop-icon {
  position: relative;
  display: block;
  background-color: #31312e;
  border-style: none;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.nav-drop-icon:hover .nav-span-line:nth-of-type(2),
.nav-drop-icon:hover .nav-span-line:nth-of-type(3) {
  width: 30px;
}

.nav-span-line {
  position: absolute;
  display: block;
  background-color: #ffffff;
  height: 2px;
  right: 0;
  transition: width 0.3s ease;
}

.nav-span-line:first-child {
  top: 0;
  width: 30px;
}

.nav-span-line:nth-of-type(2) {
  top: 10px;
  width: 20px;
}

.nav-span-line:nth-of-type(3) {
  top: 20px;
  bottom: 0;
  width: 10px;
}

/* slide */
.Slide-container {
  width: 100%;
  height: 500px;
  border: 1px solid black;
  overflow: hidden;
}

.Slide-img {
  width: 100%;
  text-align: center;
}

.notify {
  display: flex;
  border: 1px solid black;
  background: black;
  color: #ffffff;
  width: 100%;
  height: 50px;
}

.notify-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 0 20px;
}

.notify-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 캘린더 */

#calendar-container {
  position: relative;
  height: 150px;
}

.calendar {
  font-family: "Arial", sans-serif;
  text-align: center;
}

.header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  font-size: 18px;
}

.days {
  width: 100%;
  height: 50px;
  padding: 10px;
  overflow: auto;
  white-space: nowrap;
}

.day {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
}

.day:hover {
  background-color: #c77777;
  color: #ffffff;
}

.day.today {
  background-color: #c77777;
  color: #fff;
}

.empty {
  visibility: hidden;
}

.arrow {
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
  display: inline-block;
}

/* 전체행사 */

.tabs {
  display: flex;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 80px;
  height: 42px;
  border-bottom: 2px solid transparent;
  font-size: 1.25em;
}

.tab.active {
  font-weight: 600;
  border-bottom: 2px solid black;
}

#eventsTab.active {
  font-weight: bold;
  border-bottom: 2px solid #c77777; /* eventsTab이 활성화된 경우 보더 색상을 red로 설정 */
}

#performancesTab.active {
  font-weight: bold;
  border-bottom: 2px solid #9d8c90; /* performancesTab이 활성화된 경우 보더 색상을 blue로 설정 */
}

#exhibitionsTab.active {
  font-weight: bold;
  border-bottom: 2px solid #8a9a38; /* exhibitionsTab이 활성화된 경우 보더 색상을 green으로 설정 */
}

#experiencesTab.active {
  font-weight: bold;
  border-bottom: 2px solid #d8c55f; /* experiencesTab이 활성화된 경우 보더 색상을 orange로 설정 */
}

#educationTab.active {
  font-weight: bold;
  border-bottom: 2px solid #bb9b72; /* educationTab이 활성화된 경우 보더 색상을 purple로 설정 */
}

.content {
  display: none;
}

/* 공지, 보도, 입찰, 채용 */
.news {
  display: flex;
  border: 1px solid #dbdbdb;
}

.news-container {
  display: flex;
  height: 370px;
}

.news-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #f2f2f2;
}

.news-title {
  vertical-align: middle;
  text-align: center;
  position: relative;
  background: #f2f2f2;
  min-width: 117px;
}

/* .news-title {
  position: relative;
  min-width: 150px;
  height: 50px;
  line-height: 48px;
  min-height: 50px;
  color: #fff;
  background: #8a9a38;
  padding: 0;
} */

.news-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #dbdbdb;
}

.news-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* media */
@media all and (max-width: 1023px) {
  .nav-top {
    display: none;
  }
}
