header {
  position: sticky;
  width: 100%;
}

.navigation {
  position: sticky;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.nav-top {
  display: flex;
  width: 85%;
}

.nav-top-ul {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.nav-top-li {
  border: 1px solid black;
  padding: 10px 60px;
}

.nav-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  height: 100px;
  align-items: center;
}

.search {
  border: 1px solid black;
}

.sns-area {
  border: 1px solid black;
}

.nav-bottom {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  margin-top: 10px;
}

.nav-bottom-ul {
  display: flex;
  width: 85%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.nav-bottom-li {
  font-size: 22px;
}

.nav-bottom-drop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #31312e;
  border-style: none;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

.nav-drop-icon {
  position: relative;
  display: block;
  background-color: #31312e;
  border-style: none;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.nav-drop-icon:hover .nav-span-line:nth-of-type(2),
.nav-drop-icon:hover .nav-span-line:nth-of-type(3) {
  width: 30px;
}

.nav-span-line {
  position: absolute;
  display: block;
  background-color: #ffffff;
  height: 2px;
  right: 0;
  transition: width 0.3s ease;
}

.nav-span-line:first-child {
  top: 0;
  width: 30px;
}

.nav-span-line:nth-of-type(2) {
  top: 10px;
  width: 20px;
}

.nav-span-line:nth-of-type(3) {
  top: 20px;
  bottom: 0;
  width: 10px;
}

/* slide */
.Slide-container {
  width: 100%;
  height: 500px;
  border: 1px solid black;
  overflow: hidden;
}

.Slide-img {
  width: 100%;
  text-align: center;
}

.notify {
  display: flex;
  border: 1px solid black;
  background: black;
  color: #ffffff;
  width: 100%;
  height: 50px;
}

.notify-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 0 20px;
}

.notify-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 캘린더 */

#calendar-container {
  height: 250px;
}

.calendar {
  font-family: "Arial", sans-serif;
  text-align: center;
}

.header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  font-size: 18px;
}

.days {
  width: 100%;
  height: 50px;
  padding: 10px;
  overflow: auto;
  white-space: nowrap;
}

.day {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 5px;
  cursor: pointer;
}

.day:hover {
  background-color: #c77777;
  color: #ffffff;
}

.day.today {
  background-color: #c77777;
  color: #fff;
}

.empty {
  visibility: hidden;
}

.arrow {
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
  display: inline-block;
}

/* 전체행사 */

/* 여기에 필요한 스타일 추가 */
.tabs {
  display: flex;
}

button {
  margin-right: 10px;
}

.content {
  display: none;
}

/* media */
@media all and (max-width: 1023px) {
  .nav-top {
    display: none;
  }
}
